:root {
    --text-color: #333;
    --background-color: #f0f0f0;
    --box-background-color: #fff;
    --link-color: #007BFF;
    --link-hover-color: #0056b3;
    --project-background-color: #f9f9f9;
}

body.dark-mode {
    --text-color: #f0f0f0;
    --background-color: #120136;
    --box-background-color: rgba(45, 37, 65, 0.6);
    --link-color: #1E90FF;
    --link-hover-color: #63B8FF;
    --project-background-color: #555;
}

body {
    margin: 10px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color)
}

header, nav, section, footer {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    width: 100%;
    max-width: 800px;
    text-align: left;
    backdrop-filter: blur(10px);
    background-color: var(--box-background-color);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
    margin-left: auto;
    margin-right: auto;
}

nav ul li a {
    text-decoration: none;
    color: var(--link-color);
}

nav ul li a:hover {
    color: var(--link-hover-color); /* Darker primary color for hover effect */
}

.project {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    background-color: var(--project-background-color);
}